<div class="row">
    <div class="row-md-4 size_card" *ngFor="let receta of recetas"   >
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{receta.nombre}}
                <button class="btn btn-warning" [routerLink]="['/receta/editar', receta.id_receta]" >
                    <i class="fas fa-pencil-alt"></i>
                 </button>
                <button class="btn btn-danger" (click)="borrarReceta(receta.id_receta)">
                   <i class="far fa-trash-alt"></i> 
                </button>
            </div>
            <div class="card-body">
                <img [src]="receta.imagen" class="card-img-top size_imag">
            </div>
        </div>
    </div>    
</div>
